<html lang="en"><head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <title>AskuaSign</title>
    <meta charset="utf-8">
    <meta name="description" content="Askua IPA Signer">
    <meta name="keywords" content="AskuaSign">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="AskuaSign">
    <meta property="og:site_name" content="AskuaSign">
    <link rel="shortcut icon" href="https://sign.apptesters.org/assets/apptesters-iconx1024.png">
    <link href="https://sign.askua.ovh/assets/plugins/global/plugins.dark.bundle.css" rel="stylesheet" type="text/css">
    <link href="https://sign.askua.ovh/assets/css/style.dark.bundle.css" rel="stylesheet" type="text/css">
</head>
<body id="kt_body" class="dark-mode auth-bg">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-center flex-column flex-column-fluid">
            <div class="w-lg-500px p-5 p-lg-5 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h2>Information held, how we use, store, share and delete it</h2>
                            <ul>


                                <li>Your uploaded IPA files. Uploaded IPA(s) are removed upon sign, signed IPA(s) are
                                    automatically deleted after 3 days</li>

                                <li>Certificate Infomation (p12, mobileprovision and password) all infomation related to
                                    your certificate is automatically removed upon signing aswell as the request IPA
                                </li>
                            </ul>
                            <div class="row text-center">
                                <a href="https://img.grr.ovh/rina/BAd">Image 1</a>
                                <a href="https://img.grr.ovh/rina/Fri">Image 2</a>
                                <a href="https://img.grr.ovh/rina/xqx">Image 3</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>


<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg></body></html>
